h2{
    color: pink;
    background-color: black;
  
   
}
h4{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    width: 40vh;
    border-radius: 20px;
    margin-left: 40%;
    background-color: rgb(4, 255, 0);
}
/*.terminal{
    background-image: url(../assets/images.jpeg);
    padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
   background-size: cover;
  position: relative;
 
}*/
button{
    
    border-radius: 7px;  
    background-color: aqua;
}



